In [1]:
from shapely.geometry import Point
import pandas as pd
import geopandas as gpd
import matplotlib.pyplot as plt
import folium
from folium.plugins import MarkerCluster
from folium.plugins import FastMarkerCluster

In [2]:
zipcodes = gpd.read_file('../data/zipcodes.geojson')
print(zipcodes.crs)
zipcodes.head( )

epsg:4326

,zip,objectid,po_name,shape_stlength,shape_starea,geometry
0,37115,1,MADISON,178783.02488886821,596553400.57885742,"MULTIPOLYGON (((-86.68725 36.31821, -86.68722 ..."
1,37216,3,NASHVILLE,75820.997821400058,188884682.28344727,"MULTIPOLYGON (((-86.73451 36.23774, -86.73425 ..."
2,37204,9,NASHVILLE,93180.292250425613,200664795.51708984,"MULTIPOLYGON (((-86.77914 36.13424, -86.77923 ..."
3,37027,11,BRENTWOOD,159760.6942933173,174978422.04101562,"MULTIPOLYGON (((-86.81258 36.06319, -86.81263 ..."
4,37064,18,FRANKLIN,28995.828320601937,46969608.005737305,"MULTIPOLYGON (((-87.02197 36.01200, -87.02140 ..."

In [4]:
traffic_accidents = gpd.read_file('../data/Traffic Accidents.geojson')
print(traffic_accidents.crs)
traffic_accidents.head( )

epsg:4326

,city,rpa,zip,state,weather_description,harmfuldescriptions,number_of_injuries,collision_type,date_and_time,harmfulcodes,...,illuaccidemination,accident_number,collision_type_description,illumination_description,street_address,number_of_fatalities,weather,property_damage,lat,geometry
0,NASHVILLE,1425,37216,TN,CLEAR,MOTOR VEHICLE IN TRANSPORT,0,4,2022-04-14T17:36:00,12,...,1,20220180471,ANGLE,DAYLIGHT,GALLATIN PKE & GREENLAND AV,0,21,None,36.2222,POINT (-86.72610 36.22220)
1,NASHVILLE,9103,37214,TN,CLEAR,MOTOR VEHICLE IN TRANSPORT,1,4,2022-04-14T18:00:00,12,...,1,20220180439,ANGLE,DAYLIGHT,DONELSON PKE & I40 W ENT RAMP,0,21,None,36.143,POINT (-86.66670 36.14300)
2,NASHVILLE,8955,37214,TN,CLEAR,MOTOR VEHICLE IN TRANSPORT,0,4,2022-04-14T17:13:00,12,...,1,20220180411,ANGLE,DAYLIGHT,BLACKWOOD DR & STEWARTS FERRY PKE,0,21,None,36.1526,POINT (-86.62550 36.15260)
3,NASHVILLE,1995,37206,TN,CLEAR,MOTOR VEHICLE IN TRANSPORT,0,4,2022-04-14T15:30:00,12,...,1,20220180385,ANGLE,DAYLIGHT,MAIN ST ENT RAMP & SPRING ST,0,21,None,36.1732,POINT (-86.76570 36.17320)
4,MADISON,1721,37115,TN,CLEAR,BUILDING,0,0,2022-04-14T17:10:00,19,...,1,20220180362,NOT COLLISION W/MOTOR VEHICLE-TRANSPORT,DAYLIGHT,SPRING BRANCH APTS PVTDR & SHEPHERD HILL,0,21,true,36.2923,POINT (-86.69260 36.29230)

In [5]:
type(zipcodes)

geopandas.geodataframe.GeoDataFrame

In [6]:
traffic_accidents.info()

<class 'geopandas.geodataframe.GeoDataFrame'>
RangeIndex: 214914 entries, 0 to 214913
Data columns (total 25 columns):
 #   Column                      Non-Null Count   Dtype
---  ------                      --------------   -----
 0   city                        214914 non-null  object
 1   rpa                         213812 non-null  object
 2   zip                         213819 non-null  object
 3   state                       214914 non-null  object
 4   weather_description         209609 non-null  object
 5   harmfuldescriptions         212668 non-null  object
 6   number_of_injuries          214914 non-null  object
 7   collision_type              214898 non-null  object
 8   date_and_time               214914 non-null  object
 9   harmfulcodes                214914 non-null  object
 10  reporting_officer           214904 non-null  object
 11  hit_and_run                 214897 non-null  object
 12  number_of_motor_vehicles    214913 non-null  object
 13  long                        214528 non-null  object
 14  precinct                    213795 non-null  object
 15  illuaccidemination          214624 non-null  object
 16  accident_number             214914 non-null  object
 17  collision_type_description  214898 non-null  object
 18  illumination_description    214624 non-null  object
 19  street_address              214906 non-null  object
 20  number_of_fatalities        214914 non-null  object
 21  weather                     209609 non-null  object
 22  property_damage             15849 non-null   object
 23  lat                         214528 non-null  object
 24  geometry                    214528 non-null  geometry
dtypes: geometry(1), object(24)
memory usage: 41.0+ MB

In [8]:
zipcodes.crs

<Geographic 2D CRS: EPSG:4326>
Name: WGS 84
Axis Info [ellipsoidal]:
- Lat[north]: Geodetic latitude (degree)
- Lon[east]: Geodetic longitude (degree)
Area of Use:
- name: World
- bounds: (-180.0, -90.0, 180.0, 90.0)
Datum: World Geodetic System 1984
- Ellipsoid: WGS 84
- Prime Meridian: Greenwich

In [9]:
traffic_accidents.crs

<Geographic 2D CRS: EPSG:4326>
Name: WGS 84
Axis Info [ellipsoidal]:
- Lat[north]: Geodetic latitude (degree)
- Lon[east]: Geodetic longitude (degree)
Area of Use:
- name: World
- bounds: (-180.0, -90.0, 180.0, 90.0)
Datum: World Geodetic System 1984
- Ellipsoid: WGS 84
- Prime Meridian: Greenwich

In [10]:
accidents_by_zip = gpd.sjoin(traffic_accidents, zipcodes, op = 'within')

In [11]:
accidents_by_zip.head()

,city,rpa,zip_left,state,weather_description,harmfuldescriptions,number_of_injuries,collision_type,date_and_time,harmfulcodes,...,illumination_description,street_address,number_of_fatalities,weather,property_damage,lat,geometry,index_right,zip_right,po_name
0,NASHVILLE,1425,37216,TN,CLEAR,MOTOR VEHICLE IN TRANSPORT,0,4,2022-04-14T17:36:00,12,...,DAYLIGHT,GALLATIN PKE & GREENLAND AV,0,21,None,36.2222,POINT (-86.72610 36.22220),1,37216,NASHVILLE
38,NASHVILLE,1837,37216,TN,RAIN,UTILITY POLE,1,0,2022-04-13T00:00:00,30,...,DARK - LIGHTED,GALLATIN PKE & IVERSON AV,0,2,None,36.2075,POINT (-86.73570 36.20750),1,37216,NASHVILLE
65,NASHVILLE,15960,37216,TN,CLEAR,MOTOR VEHICLE IN TRANSPORT,1,11,2022-04-13T15:26:00,12,...,DAYLIGHT,BRILEY PKWYE & BRUSH HILL RD,0,21,None,36.2346,POINT (-86.71640 36.23460),1,37216,NASHVILLE
197,MADISON,1594,37115,TN,CLOUDY,MOTOR VEHICLE IN TRANSPORT,0,11,2022-04-11T08:15:00,12,...,DAYLIGHT,BRILEY PKWYW & BRILEY PKWY W ENT RAMP,0,22,None,36.2363,POINT (-86.72740 36.23630),1,37216,NASHVILLE
252,NASHVILLE,1439,37216,TN,CLEAR,MOTOR VEHICLE IN TRANSPORT,0,4,2022-04-09T16:37:00,12,...,DAYLIGHT,GREENFIELD AV & GALLATIN PKE,0,21,None,36.2109,POINT (-86.73310 36.21090),1,37216,NASHVILLE

In [12]:
accidents_by_zip['zip'].value_counts()

KeyError: 'zip'